CalcheesePokeBattle.AdminWebApp/Scripts/app/views/dashboard/login.jade
﻿include ../includes/mixin

.com-login(ng-init="ctrl.init()" ng-hide="ctrl.processing")
    p.text-danger(ng-if="ctrl.model.error")
        strong Error:
        span(ng-bind="ctrl.model.error")

    .row
        .col-md-3
            form(ng-submit="ctrl.doLogin()")
                .form-group
                    label User Name
                    .input-group
                        span.input-group-addon
                            i.fa.fa-user
                        input.form-control(id="user" ng-model="ctrl.model.UserName" autocomplete="true" placeholder="username" focus-me="ctrl.focusOnUserName")
                .form-group
                    label Password
                    .input-group
                        span.input-group-addon
                            i.fa.fa-key
                        input.form-control(id="password" ng-model="ctrl.model.Password" autocomplete="true" type="password" placeholder="********")
                .form-actions
                    button.btn.btn-nephritis(type="submit" ng-disabled="!ctrl.canLogin() || ctrl.model.processing")
                        span(ng-if="ctrl.model.processing")
                            i.fa.fa-refresh.fa-spin
                        span(ng-if="!ctrl.model.processing")
                            i.fa.fa-sign-in
                        |&nbsp;Sign Me In

CalcheesePokeBattle.WebApp/Scripts/app/views/home/login.html

<div ng-init="ctrl.init()" ng-hide="ctrl.processing" class="com-login">
  <p ng-if="ctrl.model.error" class="text-danger"><strong>Error:</strong><span ng-bind="ctrl.model.error"></span></p>
  <div class="row">
    <div class="col-md-3">
      <form ng-submit="ctrl.doLogin()">
        <div class="form-group">
          <label>User Name</label>
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input id="user" ng-model="ctrl.model.UserName" autocomplete="true" placeholder="username" focus-me="ctrl.focusOnUserName" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-key"></i></span>
            <input id="password" ng-model="ctrl.model.Password" autocomplete="true" type="password" placeholder="********" class="form-control"/>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" ng-disabled="!ctrl.canLogin() || ctrl.model.processing" class="btn btn-nephritis"><span ng-if="ctrl.model.processing"><i class="fa fa-refresh fa-spin"></i></span><span ng-if="!ctrl.model.processing"><i class="fa fa-sign-in"></i></span>&nbsp;Sign Me In</button>
        </div>
      </form>
    </div>
  </div>
</div>
